{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>выберите экран</title>
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="selector" style="font-family: Arial;">
        <h1 style="color: black">{{title}}</h1>
        {% for item in list %}
        <a href="/?screen_id={{item.id}}">{{item}}</a>
        {% endfor %}
        {% for item in list_slider %}
        <a href="/slider?slider_id={{item.id}}">{{item}}</a>
        {% endfor %}
    </div>
</body>
</html>