* {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
}

body {
    background-color: gray;
    background-image: url(/static/img/nebo_oblaka_svet_leto_84366_1920x1080.jpg);
}

.table {
    background: rgba(0, 0, 0, 0.589);
    backdrop-filter: blur(5px);
    -webkit-background-filter: blur(5px);
}

#titl {
    display: inline-block;
    width: max-content;
}

#clock {
    font-size: 30px;
    display: inline-block;
    width: max-content;
}